<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a test template</h1>
    <!-- <h3>{{ context.age }}</h3> -->
    <div>
        <h4>
            
            <!-- {% for cand in candidates %}
                {{ cand.name }}
                {{ cand.age }}
                {{ cand.exp }}
                {{ cand.domain }}
            {% endfor %} -->
        
        </h4>
    </div>
    
    

</body>
</html>